@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
  margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://media.istockphoto.com/id/636208094/photo/tropical-jungle.jpg?s=2048x2048&w=is&k=20&c=MlaHtCKbmmQAzT5d0Z-Hs8gw_yjzEar-jwMoE85Nzj8=');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
}